<div class="mat-app-background basic-container">
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="First">
    <ng-template matTabContent>
      <app-component1></app-component1>
    </ng-template>
  </mat-tab>
  <mat-tab label="Second">
    <ng-template matTabContent>
      <app-component2></app-component2>
    </ng-template>
  </mat-tab>
  <mat-tab label="Third">
    <ng-template matTabContent>
      <app-component3></app-component3>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</div>